<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Warn"
        internalLogFile="c:\temp\internal-nlog.txt">

    <extensions>
      <add assembly="NLog.Web.AspNetCore"/>
      <add assembly="Nlog.AWS.Logger"/>
    </extensions>

    <targets>
      
      <target name="allfile" xsi:type="File"
              fileName="${basedir}\logs\${shortdate}.log"
              encoding="utf-8"
              layout="[${longdate}][${machinename}][${level}] ${message} ${exception}" />
      <target name="aws" type="AWSTarget" logGroup="temp" region="us-east-1"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="allfile" />
      <logger name="*" minlevel="Info" writeTo="aws" />
    </rules>
  </nlog>

</configuration>